.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 30px 25px;

    .sunnyside-logo {
        height: 26px;

        @include breakpoint(medium) {
            height: 35px;
        }
    }
    
    ul {
        list-style: none;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 43px;

        position: absolute;
        top: 80px;
        left: 0;

        width: 330px;

        margin: 25px;
        padding: 45px 0 40px 0;

        text-align: center;
        color: $very-dark-grayish-blue;
        font-size: 20px;
        background: $white;

        opacity: 0;
        transition: opacity .3s;
        overflow: hidden;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -26px;
            right: 0;
            border-top: solid transparent 26px;
            border-right: solid $white 26px;
        }

        &.active {
            opacity: 1;
            overflow: visible;
        }

        li a {
            color: $very-dark-grayish-blue;
        }

        li .btn-nav {
            font-size: 15px;
            display: block;
            max-width: 142px;
            max-height: 56px;
            padding: 20px 25px;
            background: $yellow;
            border-radius: 40px;
            text-transform: uppercase;
            font-family: $headings-font;
            color: $very-dark-desaturated-blue;
        }
        
    }

    @include breakpoint(medium) {
        ul {
            position: static;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            column-gap: 50px;
            background: transparent;
            padding: 0;
            margin: 0;
            width: auto;
            opacity: 1;
            overflow: visible;

            li .btn-nav {
                background: $white;
            }

            li a {
                color: white;
            }
            
            &::before {
                content: none;
            }
        }
    }
}